DIV.qouter
{
	font: 16pt Arial,sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

DIV.qheader
{
	font-size: 12pt;
}

SPAN.qid
{
	color: grey;
	font-weight: bold;
}

SPAN.qsrc
{
	float: right;
}

DIV.qtitle
{
	clear: both;
	font-weight: bold;
	margin-bottom: 25px;
}

DIV.qtitle, DIV.anscover, DIV.qheader
{
	width: 100%;
}

TABLE.ansrow
{
	width: 100%;
	border: 1px solid black;
	margin-bottom: 15px;
	font: 16pt Arial,sans-serif;
}

.hover TR.ansinner
{
	background-color: lightgrey;
}

TABLE.badAnswer TR.ansinner
{
	background-color: rgb(255, 128, 128);
	cursor: auto;
}

TABLE.goodAnswer TR.ansinner
{
	background-color: rgb(128, 255, 128);
	cursor: auto;
}

TR.ansinner
{
	cursor: pointer;
}

TD.qleft
{
	border-right: 1px solid lightgrey;
	width: 25px;
	text-align: center;
}

TABLE.ansrow TD
{
	padding: 10px;
}

DIV.figouter
{
	position:relative;
	float:right
}

DIV.figdiv
{
	cursor: pointer;
	cursor: url(magnify.cur);
	cursor: -moz-zoom-in;
}