TABLE.sec-choice
{
	font: 12pt Arial,sans-serif;
}

TABLE.sec-choice TR.section
{
	font-weight: bold;
}

TABLE.sec-choice TR.subsection
{
	font-style: italic;
}

TABLE.sec-choice TR.subsection TD.descr
{
	font-size: 10pt;
	vertical-align: top;
}

TABLE.sec-choice SPAN.expander
{
	width: 16;
	height: 16;
	background-image: url(expand-yes.png);
	display: inline-block;
}

TABLE.sec-choice TR.collapsed SPAN.expander
{
	background-image: url(expand-no.png);
}

TABLE.sec-choice TD.name
{
	white-space: nowrap;
	vertical-align: top;
}

DIV.main-body
{
	width: 100%;
	text-align: center;
}

DIV.qouter
{
	font: 16pt Arial,sans-serif;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}

DIV.qheader
{
	font-size: 12pt;
}

SPAN.qid
{
	color: grey;
	font-weight: bold;
}

SPAN.qnote
{
	margin-left: 25px;
	font-size: 10pt;
	font-style: italic;
}

SPAN.qsrc
{
	float: right;
}

DIV.qtitle
{
	clear: both;
	font-weight: bold;
	margin-bottom: 25px;
}

DIV.qtitle, DIV.anscover, DIV.qheader
{
	width: 100%;
}

TABLE.ansrow
{
	width: 100%;
	border: 1px solid black;
	margin-bottom: 15px;
	font: 16pt Arial,sans-serif;
}

.hover TR.ansinner
{
	background-color: lightgrey;
}

TABLE.badAnswer TR.ansinner
{
	background-color: rgb(255, 128, 128);
	cursor: auto;
}

TABLE.goodAnswer TR.ansinner
{
	background-color: rgb(128, 255, 128);
	cursor: auto;
}

TR.ansinner
{
	cursor: pointer;
}

TD.qleft
{
	border-right: 1px solid lightgrey;
	width: 25px;
	text-align: center;
}

TABLE.ansrow TD
{
	padding: 10px;
}

DIV.figouter
{
	position:relative;
	float:right
}

DIV.progBox
{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	font: 12pt Arial,sans-serif;
}

TABLE.progress
{
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse;
	table-layout: fixed;
	clear: both;
}

TABLE.progress TD
{
	padding: 0;
}