SPAN.tristate
{
	width: 14px;
	height: 14px;
	background-image: url(tristate.png);
	background-repeat: no-repeat;
	display: inline-block;
}

SPAN.tristate.unchecked
{
	background-position: 0 0;
}

SPAN.tristate.checked
{
	background-position: -28px 0;
}

SPAN.tristate.checked.unchecked
{
	background-position: -14px 0;
}

SPAN.tristate.unchecked.hover
{
	background-position: 0 -14px;
}

SPAN.tristate.checked.hover
{
	background-position: -28px -14px;
}

SPAN.tristate.checked.unchecked.hover
{
	background-position: -14px -14px;
}
